*{
    padding: 0;margin: 0;}
  header{
  height: 75px;
    }
  .header{
    background-color: #000;
    color: #fff;}    
  .header div{ 
  height: 100%;
  display: inline-block;
  flex-direction: column-reverse;
  }
a {
    text-decoration: none;
    text-decoration-color: #fff;
    color: #fff;
  }
.imgcard{
  height: 100%;
}
.card{ 
  color: #000;
  text-align: center;
  display: inline-block;
  height: 250px;
  margin:5px;
}
    @for $i from 1 to 13 {
        
    
    .grid-#{$i} {
        display: grid ;
        grid-template-columns: repeat( $i ,1fr );
        }


    .col-#{$i} {$calcul:100/12 *$i;
            }
        .wrap div {
               
            height: 100px;
            border: 2px solid black;
        }
}
                
            
        
  



    
